@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link {
    position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #6366F1; /* Customize color */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
  }



  

